<div class="row">
    <div class="col-lg-4">
        <form action="/user/management/course" method="post">
            <input name="name" type="text" placeholder="Course Name" class="form-control mb-2">
            <textarea name="desc" placeholder="Course Description" class="form-control mb-2"></textarea>
            <% if (categories.length > 0) { %>
                <select name="category" class="form-select mb-2">
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %> </option>
                    <% }) %>
                </select>
            <% } else { %>
                 <div class="alert alert-warning">
                     Please first add category
                 </div>
            <% } %>
            <% if (teachers.length > 0) { %>
                <select name="user" class="form-select mb-2">
                    <% teachers.forEach(teacher => { %>
                        <option value="<%= teacher.id %>"><%= teacher.name %></option>
                    <% }) %>
                </select>
            <% } %>
            <button class="btn btn-danger fw-bold w-100" <%= categories.length > 0?'':'disabled' %> ><i class="fas fa-save"></i> Kaydet</button>
        </form>
    </div>
    <div class="col-lg-8">
        <ul class="list-group">
            <% if (courses.length > 0) { %>
                <% courses.forEach(course => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= course.name %> 
                        <div class="d-flex gap-2 align-items-center">
                            <a href="/user/management/course/edit/<%= course.id %>" class="btn btn-primary fw-bold btn-sm"><i class="fas fa-edit"></i> Edit</a>
                            <a href="/user/management/course/delete/<%= course.id %>" class="btn btn-danger fw-bold btn-sm"><i class="fas fa-trash"></i> Delete</a>
                        </div>
                    </li>
                <% }) %>
            <% } else { %>
                <li>Ops.. There is not any registered data just yet</li>
            <% } %>
        </ul>
    </div>
</div>